body {
  font-family: "Oswald", serif;
  background-color: #202020;
  /* background: radial-gradient(ellipse at bottom, #4b4949, #000000); */
  height: 85vh;
}
main{
  height: 84.3vh;
}
h1{
  margin: 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 200px;
  height: 60vh;
  margin-top: 80px;

}
.text-content{
  width: 68%;
  margin-left: 110px;
  font-size: 1.4rem;
 color: white;
  text-align: start;
}
/* h2 {
  width: 100%;
  color: white;
  font-size: 20px;
} */
/* .text {
  width: 30%;
} */
.title {
  text-align: start;
  margin-left: 200px;
  font-size: 5rem;
  margin-top: 90px;
  width: 19%;
}

.title::after {
  content: '';
  width: 40px;
  height: 8px;
  background: #6200ff;
  display: block;
  margin: auto;
  border-radius: 20px;

}
.img{
  background: url("../imgs/AdobeExpress.png") no-repeat center center/cover;
  border-radius: 20%;
  width: 30%;
  box-shadow: 0px 0px 15px 2px rgba(48, 48, 48, 0.205);
  margin-top: 40px;
  
  
  height: 70%;
}
.sub-title{
  color: white;
  font-size: 1.8rem;
  margin: 40px 0;
}
.color{
  color: #6200ff;
  font-size: 2.3rem;
  font-weight: bold; /* Opcional, para dar ênfase */
}