


body{
    font-family: "Oswald", serif;
  background-size: cover;
  background-color: #202020;
  /* background: radial-gradient(ellipse at bottom, #4b4949, #000000); */
  font-weight: 300;
}
.title{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 70px;
}
.title::after{
    content: '';
    width: 40px;
    height: 8px;
    background: #6200ff;
    display: block;
    margin: 10px auto;
    border-radius: 20px;

}
.container{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;

}
.container-card{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 200px;
    margin-right: 100px;
    height: 650px;

}
.card{
    width: 735px;
    height: 421px;
    margin-right: 300px;
    margin: 10px;
    cursor: pointer;
    transition: all .3s ease;
    background-image: url(../imgs/laptope.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    height: 65vh;
    position: relative;
    
}
section::after{
    content: '';
    width: 100%;
    background: #6200ff;
    display: block;
    
}
.row{
    border-radius: 20px;
    box-shadow: 0px 0px 40px 6px #6200ff;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    bottom: 30px;
    height: 1px;
    width: 100%;
    transition: 1s;
    overflow: hidden;
    background: #6200ff;
}
@keyframes dontstop {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1420px);
    }
    100% {
        transform: translateX(0px);
    }
}
.row::before{
    content: '';
    position: absolute;
    width: 40px; /* Tamanho da linha clara */
    height: 2px;
    left: 0px;
    background: #292929    ;
    box-shadow: 0px 0px 10px 2px #ffffff;
    animation: dontstop 3s linear infinite;
}



iframe{
    position: relative;
    top: 34px;
    left: 109px;
    width: 526px;
    height: 327px;
    overflow-y: hidden;
   
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}
.text-content h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.text-content p{
    color: #fff;
    font-size: 16px;
    max-width: 400px;
    text-align: start;
    letter-spacing: 2px;
}
.btn{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    width: 120px;
    height: 30px;
}

.btn:hover {
    background: #6200ff;
    box-shadow: 0 0 10px #6200ff,
                0 0 30px #6200ff,
                0 0 60px #6200ff,
                0 0 100px #6200ff;
}

.btn::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400%;
    background: #6200ff;
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.btn:hover::before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn::after {
    content: "";
    position: absolute;
    background: #000d50;
    inset: 4px;
    transition: 0.5s;
}

.btn:hover::after {
    background: #6200ff;
}

.btn span {
    position: relative;
    z-index: 1;
    font-size: 1em;
    color: #fff;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    width: 100%;
}

.btn:hover span {
    opacity: 1;
    color: #0e1538;
}
.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 180px;
    top: 100px;

}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}


.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-top: 20px;
   }
   a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
i{
    color: #fff;
    font-size: 130px;
    
  }

.social {
    position: fixed;
    top: 30%;
}
.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}
.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
    color: #000;
}
.social ul li:hover img {
    color: #fff;
    background: #6200ff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li img {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

   