body{
    font-family: "Oswald", serif;
    background-color: #202020;
}
.container{
    width: 60%;
    margin: auto;
    height: 60vh;
    margin-top: 100px;
    text-align: center;
}
.title{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 70px;
}
.title2{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
}
.title::after{
    content: '';
    width: 40px;
    height: 8px;
    background: #6200ff;
    display: block;
    margin: -10px auto;
    border-radius: 20px;

}
.motivacional{
    color: #ccc;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
}
.container p{
    color: #fff;
    text-align: center;
    padding: 0px 100px;  
    font-size: 1.3rem;
    margin: 0;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
    color: #fff;
    font-size: 0.9rem;
    margin-left: 13.1vw;
    width: 100px;

}
.card{
    width: 100px;
    font-size: 0.8rem;
}
h3{
    margin: 0;
}
img{
    width: 200px;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
}
h1{
    margin: 0;
}


.cards__inner {
    display: flex; /* Ativa o Flexbox */
    flex-wrap: wrap; /* Permite que os itens "quebrem" linha se necessário */
    gap: 2.5rem; /* Adiciona espaçamento entre os cartões */
    justify-content: flex-start; /* Alinha os cartões no início da linha */
    align-items: flex-start; /* Alinha verticalmente os cartões no topo */
    padding: 0px 12vw;

}

.cardd {
    --flow-space: 0.5em;
    --hsl: var(--hue), var(--saturation), var(--lightness);
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: black;
    box-shadow: 0 0 12px 4px #131313;
    border-radius: 15px;
    width: 23vw;
    height: 40vh;
    position: relative; /* Necessário se usar elementos `absolute` dentro dos cartões */

    
    
}

.cardd {
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}


.flow>*+* {
    margin-top: var(--flow-space, 1.25em);
}

.cta {
    display: block;
    align-self: end;
    text-align: center;
    text-decoration: none;
    color: transparent;
    background-color: #0d0d0d;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    height: 50vh;
    width: 30vw;
}

.overlay {
    position: absolute;
    inset: 0;
    top: 52vw;
    left: 10px;
    border-radius: 20px;
    height: 84vh;
    /* z-index: 1; */
    pointer-events: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(12rem 12rem at var(--x) var(--y), #000 1%, transparent 50%);
    mask: radial-gradient(12rem 12rem at var(--x) var(--y), #000 1%, transparent 50%);
    transition: 400ms mask ease;
    will-change: mask;
}

.overlay .cardd {
    background-color: #6200ff;
    border-color: #6200ff;
    box-shadow: #6200ff 0 0 0 1px inset;
}

.overlay .cta {
    display: block;
    grid-row: -1;
    width: 100%;
    background-color: #6200ff;
    box-shadow: #6200ff 0 0 0 1px inset;
}

:not(.overlay)>.cardd {
    transition: 400ms background ease;
    will-change: background;
}

:not(.overlay)>.cardd:hover {
    --lightness: 95%;
    background: #141414;
}

.text-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    height: 100%;
    font-size: 1.3rem;
    -webkit-box-orient: vertical;
    padding: 40px;
}
.cardd h1{
    font-size: 2.2rem;
}
footer{
height: 40px;
padding-top: 45px;
}
